@charset "utf-8";
ul,
li {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    display: block;
    cursor: pointer;
}


/* div, a{border:1px solid #f00;} */


/* s : header */

.navb-wrap {
    border-bottom: 1px solid #ddd;
}

.navb-btn,
.navbar-toggler.navb-btn:focus {
    border: none;
    box-shadow: none;
}

.navb-ul {}


/* .navb-ul .nav-item{position: relative;} */

.nav-link {
    height: 80px;
    line-height: 64px;
    text-align: left;
    padding: var(--bs-nav-link-padding-y) 20px;
    display: flex;
    justify-content: space-between;
}

.nav-btn-more {
    border: none;
    background-color: transparent;
}

.nav-btn-more:after {
    content: "";
    clear: both;
    display: block;
    width: 25px;
    height: 25px;
    background: url(./img/nav-btn-more.png) no-repeat;
    background-size: 25px;
}

.nav-btn-more img {
    width: 25px;
    height: 25px;
}

.nav-item.active .nav-btn-more:after {
    transform: rotate(180deg);
}

.sub-mn-bx {
    display: none;
}

.sub-mn-ul {
    width: 300px;
    width: 100%;
}

.sub-mn-ul li {
    padding: 10px 20px;
}

.sub-mn-ul li a {
    color: #333;
    text-decoration: none;
}


/* e : header */


/* s : footer */

.f-area {}

.f-inner {}

.f-bx {}

.f-head {
    display: flex;
    flex-wrap: wrap-reverse;
}

.f-logo {
    background: #ddd;
    width: 100px;
    height: 30px;
}

.f-head .select-bx {
    width: 100%;
}

.select-bx {}

.f-info-bx {}

.f-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.f-info p {
    margin: 0 10px 0 0;
    font-size: 14px;
}


/* e : footer */

@media (max-width: 992px) {
    /* 모바일에서는 아코디언 방식으로 동작 */
    .navb-bx {
        width: 100% !important;
    }
    .navbar-nav .nav-item {
        border-bottom: 1px solid #eee;
    }
}

@media (min-width: 992px) {
    /* PC에서는 hover 시 서브 메뉴가 나타나도록 설정 */
    .navb-wrap {
        padding: 0;
    }
    .navb-ul {
        width: 70%;
        justify-content: space-evenly;
        margin: 0 auto;
    }
    .nav-btn-more {
        display: none;
    }
    .nav-item:hover>.sub-mn-bx {
        display: block;
    }
    .sub-mn-bx {
        padding: 20px 0;
        position: absolute;
        width: 100%;
        top: 81px;
        left: 0;
        background: #fff;
        border-bottom: 1px solid #ddd;
    }
    .sub-mn-bx .sub-mn-ul {
        display: flex;
        justify-content: center;
    }
    /* s : footer */
    .f-head {
        display: flex;
        flex-wrap: flex;
        justify-content: space-between;
    }
    .f-head .select-bx {
        width: inherit;
    }
    /* e : footer */
}