.ci-wrap{padding-top:120px;}

.ci-txt-bx {
    font-size: 18px;
    padding: 100px 131px 50px 55px;
    font-weight: 400;
    transition: padding 0.3s ease; /* padding에 대한 부드러운 전환 추가 */
}
.ci-txt-bx p{text-align: center;}

.brand-color-bx{display: flex; justify-content: space-between;}

.main-ci-image{width: 100%;height: 500px;margin: 0;overflow:hidden;position: relative; background-color: #ddd;}
.main-ci-image img{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);display: block;width: 100%;height: auto;}

.bdcircle-ul{display:flex; justify-content: space-between; margin-bottom:120px;}

.bdcircle-bx{margin-top:200px; width: 250px; height: 250px; background:#eee; border-radius: 150px; background-size: 200px;}
.bdcircle-ul li:nth-child(1){background-image: url(/company/img/bdcircle01.png); }
.bdcircle-ul li:nth-child(2){margin-top:400px; background-image: url(/company/img/bdcircle02.png); }
.bdcircle-ul li:nth-child(3){background-image: linear-gradient( #00091b, #002060);}
.bdcircle-ul li:nth-child(4) img {width: 71%;position: relative;top: 43%;  left: 15%;}
.bdcircle-ul li:nth-child(5){background-image: linear-gradient(#002e21, #076E50);}
.bdcircle-ul li:nth-child(6){margin-top:0;background-image: linear-gradient(#f00, #F56214);}
.bdcircle-ul li:nth-child(7){background-image: url(/company/img/bdcircle03.png); }


/*---별 작성---*/
/*---글자 디테일 잡기---*/
.ci-common {
    box-sizing: border-box;
    color : 1C1E29;
}

.ci-common-scroll {
    overflow-x: hidden; /* 수평 스크롤을 방지 */
    margin: 0;
    padding: 0;
}

/* 기본 스타일 */
.main-ci-main {
    padding: 120px 0px 200px;
    max-width: 100%; /* 화면을 넘지 않도록 설정 */
}

.main-ci-Text {
    font-size: 64px;
    word-break: keep-all;
    font-weight: bold;
    transition: font-size 0.6s ease; /* 부드러운 크기 변화 */
    will-change: font-size; /* 성능 최적화 */
}

.main-ci-text2 {
    padding-top: 12px;
    font-size: 24px;
    word-break: keep-all;
    font-weight: 400;
    transition: font-size 0.6s ease; /* 부드러운 크기 변화 */
    will-change: font-size; /* 성능 최적화 */
}

/* 화면 크기 변화 시 반응형 스타일 */
.main-ci-container {
    padding-top: 80px;
    max-width: 100%; /* 화면을 넘지 않도록 설정 */
}
.main-ci-container2{
    padding-top : 160px;
}
/* 화면 크기가 960px 이하일 때 padding을 30px로 설정 */
@media (max-width: 960px) {
    .main-ci-container {
        padding-top: 30px;
    }

    .main-ci-Text {
        font-size: 24px;
    }

    .main-ci-text2 {
        font-size: 13px;
    }
    .ci-txt-bx{
        font-size: 16px;
        padding: 100px 15px 10px 22px;
    }
}

/* 새로고침 시 transition 비활성화 */
@media (prefers-reduced-motion: reduce) {
    .main-ci-Text, .main-ci-text2 {
        transition: none;
    }
}
.gutter-262 {
    padding-left: var(--gutter-262);
    padding-right: var(--gutter-262);
}
[class*="gutter"] {
    margin: 0 auto;
}
.main-ci-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 두 개의 칸으로 나눔 */
    gap: 20px; /* 칸 사이 간격 */
    align-items: center; /* 수직 가운데 정렬 */
    padding : 160px 227px;
    }

.main-ci-title {
    font-size: 64px;
    padding-bottom : 20px;
    font-weight: bold;
    word-break: keep-all;
    transition: font-size 0.6s ease; /* 부드러운 크기 변화 */
}

.main-ci-description {
    font-size: 18px;
    font-weight: 400;
    word-break: keep-all;
    line-height: 1.6;
    transition: font-size 0.6s ease; /* 부드러운 크기 변화 */
}

/* 화면 크기가 960px 이하일 때 반응형 스타일 */
@media (max-width: 960px) {
    .main-ci-grid {
        grid-template-columns: 1fr; /* 한 열로 변경 */
        gap: 10px;
        padding: 80px 15px;
    }

    .main-ci-title {
        font-size: 24px;
    }

    .main-ci-description {
        font-size: 16px;
    }
}

/* 새로고침 시 transition 비활성화 */
@media (prefers-reduced-motion: reduce) {
    .main-ci-title, .main-ci-description {
        transition: none;
    }
}