.skill-main-padding {
  padding-top: 120px;
  padding-bottom: 200px;  
}

.skill-main-butt {
    background-color: none ;
    border-radius:20px;
    border: none;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 15px;  
}

.skill-main-butt1 {
  background-color: #002060;
  border-radius:20px;
  border: none;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 15px; 
  color: white; 
}


.skill-main-butt:hover {
  background-color: #002060 ;
  color: white;
}

.sk-box {
  width: 18rem; /* 원하는 창 너비 */
  /* height: 10rem; 원하는 창 높이 */
  overflow: hidden; /* 넘치는 이미지 숨기기 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.sk-box img {
  max-width: 100%;
  max-height: 100%;
  object-fit: scale(3);

}

.card {
  border:none
}

.sk-font {
  font-weight: 400;
  padding-top: 20px;
}

.swiper {
  width: 100%;
  height: 400px;
  margin: 10px auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}


.append-buttons {
  text-align: center;
  margin-top: 20px;
}

.append-buttons button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #007aff;
  color: #007aff;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
}

.smt-btn {
  color:rgb(255, 255, 255);
}

.sk-tx-weight {
  font-weight: 600;
  font-size: 48px;
}

.sk-tx {
  font-weight: 600;
  font-size: 30px;
}

.bu-lamp {
  border-radius: 40px;
}

.bu-title {
  font-weight: 500;
  font-size: 20px;
  padding-top: 40px;
}

.bu-text {
  font-weight: 300;
  font-size: 16px;
}


@media screen and (max-width:48rem) {
  .swiper {
    height: 250px;
  }
  .movingmb {
    text-align: center;
  }
}

.sys-img {
  width: 100px;
  height: 75px;
}

.sys-erm {
  padding-bottom: 3px;
}

.sys-14 {
  font-size: 14px;
}